include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "bind.kdl"
include "rules.kdl"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

// strftime(3)
screenshot-path "~/media/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

window-rule {
    geometry-corner-radius 9
    clip-to-geometry true
}

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}

spawn-at-startup "xwayland-satellite"
spawn-at-startup "kdePackages.polkit-kde-agent-1"
spawn-at-startup "noctalia-shell"

include "./noctalia.kdl"

