layout {

    focus-ring {
        active-color   "#a2cde2"
        inactive-color "#121415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a2cde2"
        inactive-color "#121415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a2cde2"
        inactive-color "#204c5e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a2cde280"
    }
}

recent-windows {
    highlight {
        active-color "#a2cde2"
        urgent-color "#ffb4ab"
    }
}
