// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

// Set transparent workspace background color so you see the backdrop at all times.
layout {
  background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
  workspace-shadow {
    off
  }
}

window-rule {
    match is-focused=false
    opacity 0.9
    background-effect {
        blur true
        xray false
    }
}

blur {
    passes 3      // higher = softer/stronger blur, more GPU cost
    offset 3.0
    noise 0.03
    saturation 0.8
}